<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>InkUp | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/elements/auth.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/elements/message_block.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>

