<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>InkUp | Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/elements/auth.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/elements/message_block.css">
</head>

<body>
    {% if message %}
    <div id="message-block">
        <ul>
            {% for field in message %}
                {% if field.0 == "username" %}
                <p>Your username is <b>invalid</b></p>
                {% else %}
                <p>Your password is <b>invalid</b></p>
                {% endif %}
                <ul>
                    {% for error in field.1%}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="auth-block">
        <h1>Sign Up</h1>
        <form method="post" action="{{ urls.signup }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="field">
                <label for="username">Username: </label><br>
                <input type="text" id="username" name="username" required />
                <br>
            </div>
            <div class="field">
                <label for="password">Password: </label><br>
                <input type="password" id="password" name="password" required />
                <br>
            </div>
            <input type="submit" value="Submit" id="submit">
            <div class="links">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icon">
                    <path
                        d="M341.8 72.6C329.5 61.2 310.5 61.2 298.3 72.6L74.3 280.6C64.7 289.6 61.5 303.5 66.3 315.7C71.1 327.9 82.8 336 96 336L112 336L112 512C112 547.3 140.7 576 176 576L464 576C499.3 576 528 547.3 528 512L528 336L544 336C557.2 336 569 327.9 573.8 315.7C578.6 303.5 575.4 289.5 565.8 280.6L341.8 72.6zM304 384L336 384C362.5 384 384 405.5 384 432L384 528L256 528L256 432C256 405.5 277.5 384 304 384z"/>
                </svg>
                <a href="{{ urls.homepage }}">Go back to the homepage</a>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icon">
                    <path 
                        d="M409 337C418.4 327.6 418.4 312.4 409 303.1L265 159C258.1 152.1 247.8 150.1 238.8 153.8C229.8 157.5 224 166.3 224 176L224 256L112 256C85.5 256 64 277.5 64 304L64 336C64 362.5 85.5 384 112 384L224 384L224 464C224 473.7 229.8 482.5 238.8 486.2C247.8 489.9 258.1 487.9 265 481L409 337zM416 480C398.3 480 384 494.3 384 512C384 529.7 398.3 544 416 544L480 544C533 544 576 501 576 448L576 192C576 139 533 96 480 96L416 96C398.3 96 384 110.3 384 128C384 145.7 398.3 160 416 160L480 160C497.7 160 512 174.3 512 192L512 448C512 465.7 497.7 480 480 480L416 480z"/>
                </svg>
                <a href="{{ urls.login }}">Log In</a>
                <br>
                {% if message %}
                <button id= "toggle-msg" type="button" onclick="hideMessageBlock()">Toggle message block</button>
                <script>
                    function hideMessageBlock() {
                        const message_block = document.getElementById("message-block")
                        if (message_block.style.display == "flex") {
                            message_block.style.display = "none"
                        } else {
                            message_block.style.display = "flex"
                        }
                    }
                </script>
                {% endif %}
            </div>
        </form>
    </div>
</body>

</html>
